:root {
	--colorsecundarioimgone: #098524;
	--colorsecundarioimgsecond: #4a6bfc;
	--colorsecundarioimgthree: #1d3a69;
	--colorfooterimgone: #61d55b;
	--colorfooterimgsecond: #97c1ff;
	--colorfooterimgthree: #13322b;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Epidemic", sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.container__principal {
	width: 100vw;

	background: white;
	display: flex;
	flex-direction: column;
	.container__heater {
		width: 100vw;

		.nav {
			position: fixed;
			background: white;
			width: 100%;
			height: 115px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			.nav--elemento {
				background: white;
				height: 115px;
				width: auto;
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-direction: row;
				.nav--logo {
					width: auto;
					height: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.nav__logo--img {
						background: URL(../img/logo-itc.svg);
						width: 60px;
						height: 60px;
						transition: 0.6s;
						background-repeat: no-repeat;
						background-position: center;
					}

					.nav__logo--text {
						background: URL(../img/logo-tecnm.svg);
						background-repeat: no-repeat;
						background-position: center;
						width: 176px;
						height: 60px;
						transition: 0.6s;
					}
				}
				.nav--search {
					background: #f5f5f5;
					width: 361px;
					height: 24px;
					padding: 8px 16px;
					border: 10px solid #f5f5f5;
					border-radius: 10px;
				}
				.nav--search {
					outline: none; /* Elimina el contorno de enfoque */
				}
			}
			.nav--btnlogin {
				border-radius: 5px;
				width: 150px;
				padding: 14px;
				border: 2px solid var(--colorsecundarioimgthree);
				display: flex;
				justify-content: center;
				align-items: center;
				background: white;
				cursor: pointer;
				text-decoration: none;
				transition: 0.6s;

				p {
					color: var(--colorsecundarioimgthree);
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
			.nav--btnlogin.img--one {
				border: 2px solid var(--colorsecundarioimgone);

				p {
					color: var(--colorsecundarioimgone);
				}
			}
			.nav--btnlogin.img--second {
				border: 2px solid var(--colorsecundarioimgsecond);

				p {
					color: var(--colorsecundarioimgsecond);
				}
			}
		}

		.nav__two {
			.nav--img {
				background: var(--colorsecundarioimgthree);
				width: 100%;
				height: 100vh;
				padding: 32px;
				display: flex;
				flex-direction: column;
				justify-content: end;
				align-items: left;
				text-align: left;
				transition: 0.6s;

				.nav--info {
					padding: 40px;

					h1 {
						color: #ffffff;
						font-size: 52px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}
					p {
						color: #ffffff;
						font-size: 22px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						padding: 16px 0px;
					}
					.nav--btnver {
						width: 150px;
						padding: 8px;
						border-radius: 5px;
						background: var(--colorsecundarioimgthree);
						transition: 0.6s;
						text-align: center;
						p {
							width: auto;
							color: #ffffff;
							font-size: 16px;
						}
					}
					.nav--btnver.img--one {
						background: var(--colorsecundarioimgone);
					}
					.nav--btnver.img--second {
						background: white;
						p {
							color: var(--colorsecundarioimgsecond);
						}
					}
				}
			}

			.img--one {
				background: linear-gradient(
						58deg,
						rgba(0, 0, 0, 0.781) 10%,
						rgba(0, 0, 0, 0.792) 17%,
						rgba(0, 0, 0, 0.542) 60%
					),
					URL(../img/SLIDER-CERO-TOLERANCIA-DIC-2022.jpeg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
			transition: 0.6s;

			.img--second {
				background: linear-gradient(
						58deg,
						rgba(0, 0, 0, 0.781) 10%,
						rgba(0, 0, 0, 0.792) 17%,
						rgba(0, 0, 0, 0.542) 60%
					),
					URL(../img/SLIDER-ENECB-2023.jpg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				transition: 0.6s;
			}
			.img--three {
				background: linear-gradient(
						58deg,
						rgba(0, 0, 0, 0.781) 10%,
						rgba(0, 0, 0, 0.792) 17%,
						rgba(0, 0, 0, 0.542) 60%
					),
					URL(../img/SLIDER-FIL-2023.jpg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				transition: 0.6s;
			}
		}
	}

	.container__productos {
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.productos--one {
			width: 100vw;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			padding: 64px 0px;
			.titulo__producto {
				h1 {
					color: var(--colorsecundarioimgthree);
					font-size: 42px;
					font-style: normal;
					font-weight: 700;
				}
			}
			.productos--all {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				width: 85%;
				flex-wrap: wrap;
				.link {
					width: calc(30% - 160px);
					height: 375px;
					text-decoration: none;
					border-radius: 10px;
					margin: 20px;
					.card {
						width: 100%;
						height: 100%;
						background: var(--colorsecundarioimgthree);
						border-radius: 10px;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						align-items: center;

						.img--card {
							.img--producto {
								width: 175px;
								height: 175px;
								border-radius: 5px;
								object-fit: cover;
							}
						}
						.text--card {
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							align-items: center;
							text-align: center;
							padding: 0px 30px;
							.name {
								color: white;
								font-size: 1.75rem;
								font-weight: bolder;
								transition: 0.6s;
							}

							.precio {
								width: 100%;
								display: flex;
								flex-direction: row;
								justify-content: space-around;

								.value {
									color: white;
									font-size: 1.25rem;
									transition: 0.6s;
								}

								.valor {
									color: white;
									font-size: 1.25rem;
									transition: 0.6s;
								}
							}
						}
						span {
							width: 100%;
							font-size: 1.75rem;
							color: #ffffff;
							font-weight: bolder;
							display: flex;
							justify-content: space-around;
							align-items: center;
							cursor: pointer;
							a {
								color: #ffffff;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}

	.container__heater--registro {
		width: 100vw;
		height: 115px;
		.nav {
			position: fixed;
			background: white;
			width: 100%;
			height: 115px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			.nav--elemento {
				background: white;
				height: 115px;
				width: auto;
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-direction: row;
				.nav--logo {
					width: auto;
					height: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.nav__logo--img {
						background: URL(../img/logo-itc.svg);
						width: 60px;
						height: 60px;
						transition: 0.6s;
						background-repeat: no-repeat;
						background-position: center;
					}

					.nav__logo--text {
						background: URL(../img/logo-tecnm.svg);
						background-repeat: no-repeat;
						background-position: center;
						width: 176px;
						height: 60px;
						transition: 0.6s;
					}
				}
				.nav--search {
					background: #f5f5f5;
					width: 361px;
					height: 24px;
					padding: 8px 16px;
					border: 10px solid #f5f5f5;
					border-radius: 10px;
				}
				.nav--search {
					outline: none; /* Elimina el contorno de enfoque */
				}
			}
			.nav--btnlogin {
				border-radius: 5px;
				width: 200px;
				padding: 14px;
				border: 2px solid var(--colorsecundarioimgthree);
				display: flex;
				justify-content: center;
				align-items: center;
				background: white;
				cursor: pointer;
				text-decoration: none;
				transition: 0.6s;

				p {
					color: var(--colorsecundarioimgthree);
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
			.nav--btnlogin.img--one {
				border: 3px solid var(--colorsecundarioimgone);

				p {
					color: var(--colorsecundarioimgone);
				}
			}
			.nav--btnlogin.img--second {
				border: 3px solid var(--colorsecundarioimgsecond);

				p {
					color: var(--colorsecundarioimgsecond);
				}
			}
		}
	}
	.container__registro {
		width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		padding: 64px 0px;
		.registro {
			margin: 0 0 10px 0;
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
			h1 {
				margin-bottom: 16px;
				color: #be011a;
			}
			select {
				width: 535px;
				height: 52px;
				margin-bottom: 16px;
				border-radius: 5px;
				border: 5px solid #f5f5f5;
				padding: 0 10px;
				color: #000;
				font-size: medium;
				font-weight: 700;
				background: #f5f5f5;
			}
			select:focus {
				outline: none; /* Elimina el contorno de enfoque */
			}
			input {
				width: 535px;
				height: 52px;
				margin-bottom: 16px;
				border-radius: 5px;
				border: 5px solid #f5f5f5;
				padding: 0 10px;
				background: #f5f5f5;
				color: #000;
				font-size: medium;
				font-weight: 700;
			}
			input::placeholder {
				font-size: small;
				font-weight: 100;
			}
			input:focus {
				outline: none; /* Elimina el contorno de enfoque */
			}

			button {
				width: 535px;
				height: 52px;
				margin-bottom: 16px;
				border-radius: 5px;
				border: 2px solid #be011a;
				p {
					color: #be011a;
				}
			}
		}
	}

	.container__body {
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;

		.starwars {
			width: 100%;
			height: 75vh;
			background: #ffffff;
			transition: 0.6s;

			.starwars--titulo {
				width: 100%;
				height: 10%;
				margin: 10px 0;
				display: flex;
				justify-content: space-around;
				h1 {
					color: var(--colorsecundarioimgthree);
					font-size: 42px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
				h1.img--one {
					color: var(--colorsecundarioimgone);
				}
				h1.img--second {
					color: var(--colorsecundarioimgsecond);
				}
			}
			.producto {
				width: 100%;
				height: 70%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				.link {
					width: 15%;
					height: 90%;
					text-decoration: none;
					border-radius: 10px;
					.card {
						width: 100%;
						height: 100%;
						background: var(--colorsecundarioimgthree);
						border-radius: 10px;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						align-items: center;
						.img--card {
							.img--producto {
								width: 175px;
								height: 175px;
								border-radius: 5px;
								object-fit: cover;
							}
						}
						.text--card {
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							align-items: center;
							text-align: center;
							padding: 0px 30px;
							.name {
								color: white;
								font-size: 1.75rem;
								font-weight: bolder;
								transition: 0.6s;
							}

							.precio {
								width: 100%;
								display: flex;
								flex-direction: row;
								justify-content: space-around;

								.value {
									color: white;
									font-size: 1.25rem;
									transition: 0.6s;
								}

								.valor {
									color: white;
									font-size: 1.25rem;
									transition: 0.6s;
								}
							}
						}
					}
					.card.img--one {
						background: var(--colorsecundarioimgone);
					}
					.card.img--second {
						background: var(--colorsecundarioimgsecond);
					}
				}
			}
			.footer--starwars {
				width: 97.5%;
				height: 10%;
				margin: 10px 0px;
				display: flex;
				justify-content: end;
				text-align: center;
				.btnstarwars {
					width: 150px;
					height: 45px;
					background: var(--colorsecundarioimgthree);
					border-radius: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
					a {
						text-decoration: none;

						p {
							color: #ffffff;
							font-weight: 700;
						}
					}
				}
				.btnstarwars.img--one {
					background: var(--colorsecundarioimgone);
				}
				.btnstarwars.img--second {
					background: var(--colorsecundarioimgsecond);
				}
			}
		}

		.consolas {
			width: 100%;
			height: 75vh;
			background: var(--colorsecundarioimgthree);

			.consolas--titulo {
				width: 100%;
				height: 10%;
				margin: 10px 0;
				display: flex;
				justify-content: space-around;
				h1 {
					color: #ffffff;
					font-size: 42px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					transition: 0.6s;
				}
			}

			.producto {
				width: 100%;
				height: 70%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				.link {
					width: 15%;
					height: 90%;
					text-decoration: none;
					border-radius: 10px;

					.card {
						width: 100%;
						height: 100%;
						background: #ffffff;
						border-radius: 10px;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						align-items: center;
						transition: 0.6s;

						.img--card {
							.img--producto {
								width: 175px;
								height: 175px;
								border-radius: 5px;
								object-fit: cover;
							}
						}
						.text--card {
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							align-items: center;
							text-align: center;
							padding: 0px 30px;
							.name {
								color: var(--colorsecundarioimgthree);
								font-size: 1.75rem;
								font-weight: bolder;
							}
							.name.img--one {
								color: var(--colorsecundarioimgone);
							}
							.name.img--second {
								color: var(--colorsecundarioimgsecond);
							}
							.precio {
								width: 100%;
								display: flex;
								flex-direction: row;
								justify-content: space-around;

								.value {
									color: var(--colorsecundarioimgthree);
									font-size: 1.25rem;
								}
								.value.img--one {
									color: var(--colorsecundarioimgone);
								}
								.value.img--second {
									color: var(--colorsecundarioimgsecond);
								}
								.valor {
									color: var(--colorsecundarioimgthree);
									font-size: 1.25rem;
								}
								.valor.img--one {
									color: var(--colorsecundarioimgone);
								}
								.valor.img--second {
									color: var(--colorsecundarioimgsecond);
								}
							}
						}
					}
					.card.img--one {
						background: var(--colorsecundarioimgone);
					}
					.card.img--second {
						background: var(--colorsecundarioimgsecond);
					}
				}
			}
			.footer--consolas {
				width: 97.5%;
				height: 10%;
				margin: 10px 0px;
				display: flex;
				justify-content: end;
				text-align: center;
				.btnconsolas {
					width: 150px;
					height: 45px;
					background: white;
					border-radius: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: 0.6s;

					a {
						text-decoration: none;

						p {
							color: var(--colorsecundarioimgthree);
							font-weight: 700;
						}
						p.img--one {
							color: var(--colorsecundarioimgone);
						}
						p.img--second {
							color: var(--colorsecundarioimgsecond);
						}
					}
				}
			}
		}
		.btnconsolas.img--one {
			background: var(--colorsecundarioimgone);
		}
		.btnconsolas.img--second {
			background: var(--colorsecundarioimgsecond);
		}
	}
	.consolas.img--one {
		background: var(--colorsecundarioimgone);
	}
	.consolas.img--second {
		background: var(--colorsecundarioimgsecond);
	}

	.footer {
		width: 100%;
		background: var(--colorfooterimgthree);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.footer-principal {
			padding: 64px;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: start;
			.footer--img {
				width: 176px;
				height: 50px;
				background: url(../img/logofooter.svg);
				background-repeat: no-repeat;
			}
			.enlaces {
				.link--footer {
					text-decoration: none;
					display: flex;
					justify-content: space-between;
					height: 35px;
					p {
						color: #ffffff;
						font-size: 16px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}
				}
			}
			.footer--contacto {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: right;
				height: 200px;
				.footer--text {
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					color: white;
				}
				.footer--text:focus {
					outline: none; /* Elimina el contorno de enfoque */
				}
				.footer--nombre {
					border-radius: 5px;
					border: none;
					width: 500px;
					height: 40px;
					padding: 10px 5px;
				}
				.footer--nombre:focus {
					outline: none; /* Elimina el contorno de enfoque */
				}
				.footer--mensaje {
					border-radius: 5px;
					border: none;
					width: 500px;
					height: 80px;
					padding: 10px 5px;
				}
				.footer--mensaje:focus {
					outline: none; /* Elimina el contorno de enfoque */
				}

				.btnfooter {
					width: 80px;
					height: 30px;
					border-radius: 5px;
					background: white;
					display: flex;
					justify-content: center;
					align-items: center;
					p {
						font-size: 14px;
						color: var(--colorsecundarioimgthree);
						font-weight: 700;
					}
					p.img--one {
						color: var(--colorsecundarioimgone);
					}
					p.img--second {
						color: var(--colorsecundarioimgsecond);
					}
				}
			}
		}
		.footer--second {
			padding: 32px;
			background: #ffffff;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			p {
				color: var(--colorsecundarioimgthree);
				font-weight: 700;
			}
			p.img--one {
				color: var(--colorsecundarioimgone);
			}
			p.img--second {
				color: var(--colorsecundarioimgsecond);
			}
		}
	}
	.footer.img--one {
		background: var(--colorfooterimgone);
	}
	.footer.img--second {
		background: var(--colorfooterimgsecond);
	}
}
